.about{
    background-color: var(--gradent);
    width: 100%;
    overflow: hidden;
}

.find, .button{
    width: 192px;
    height: 60px;
    border-radius: 20px; 
}

.Aone{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 526px;
    padding-top: 150px;
}

.Aone h5{
    font-family: Roboto;
font-size: 32px;
font-weight: 700;
}

.Aone p{
    font-family: Roboto;
font-size: 20px;
font-weight: 500;
width: 436px;
height: 108px;
}
.Aone .find{
    color: var(--gradent1);
}


/* Athree */

.Athree .car{
    box-shadow: 15px 15px #1E3673;
    color: white;
    font-family: Roboto;
font-size: 20px;
font-weight: 500;
font-family: Roboto;
font-size: 48px;
font-weight: 700;
background-color: var(--gradient3);
width: 200px;
height: 200px;
border-radius: 20px;
border: 2px;
margin-left: 70px;
}

.Athree .face img{
    width: 400px;
height: 400px;
margin-top: 40px;


}

@media (max-width:768px) {
    .Aone h5{
    font-size: 20px;
    }
    
    .Aone p{
    font-size: 16px;
    width: 90%;
    }

    /* sec 3 */

    .disappear{
        display: none;
    }
    
}

@media (max-width:800px) {
    .disappear{
        width: 50%;
    }

    .face{
        width: 303px;
    }
}