



.C4{
    background-color: #F5F5F5;
    width: 80%px;
height: 454px;
top: -5px;
position: relative;
border-radius: 20px;
} 

.formm{
    width: 248px;
    height: 273px;
}

.input{
width: 35%;
margin: auto 5px;
font-size: 12px;
border-radius: 20px;
border: none;
height: 39px;
}

.C4 .nam{
    width: 80%;
    height: 60px;
    border-radius: 20px;
    border: 1px;
    margin: 0px auto;
} 

.nam button{
    background: linear-gradient(123.09deg, #2F98C2 -7.49%, #1E3673 78.8%);

    margin-top: -40px;
    width: 115px;
height: 40px;
font-size: 13px;
border-radius: 20px;
opacity: 0.8999999761581421px;

} 


@media (min-width:1024px) {
   
.C4{
    background-color: #F5F5F5;
    width: 80%;
    margin: 0px auto;
height: 494px;
top: -70px;
left: 100p;
position: relative;
border-radius: 20px;
} 
}
/* .C4 .nam{
    width: 813px;
    height: 60px;
    position: relative;
    left: 220px;
    border-radius: 20px;
    border: 1px;
} */

/* .nam{
    color: #00000080;
}
.nam button{
    background: linear-gradient(123.09deg, #2F98C2 -7.49%, #1E3673 78.8%);

    margin-top: -40px;
    width: 220px;
height: 60px;
border-radius: 20px;
opacity: 0.8999999761581421px;

} */