
.twoo{
    background-color: var(--primary);
}

.covid-text h3{
    color: var(--gradent1);
}

@media (min-width:768px) {
    .covid-text{
        width: 740px;
        height: 505p;
        margin: 10px 0px;
    } 
}


@media (min-width: 1024px){
    .covid-text{
        width: 640px;
        height: 505px;
    }
    .covid-img img{
        width: 398px;

    }
}

