.login{
    display: none;
}

.log{
    background-color: var(--gray);
    height: 550px;
}

.medkit h5{
    font-family: Roboto;
font-size: 20px;
font-weight: 600;
color: var(--gradent1);
margin-top: 20px;
}
.fform{
    width: 95%;
}

.fform input{
    width: 80%;
    
}

.medkit{
    width: 236px;
height: 102px;
}

.email{
    margin: 0px auto;
    margin-left: 15px;
}

.error{
    color: red;
}

.email input{
    align-content: center;
    margin-bottom: 20px;
    width: 90%;
    height: 35px;
    border-radius: 30px;
    border: 2px;
    text-align: center;
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
border: 2px solid #00000033

}

.email label{
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
color: #1E3673;
}

.email p{
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
color: #C5221F;

}

.your{
    text-decoration: none;
}
 
.email button{
    width: 90%;
    color: white;
    background: #1E3673;
    border-radius: 20px;
    cursor: pointer;
}
.spa p{
    color:var(--gradent1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.spa span{
    color: var(--gradient3);
}


@media (min-width:600px) {
    .login{
        display: block;
        width: 450px;
        height: 528px !important;
        margin-top: 40px;
    }

    .login img{
        height: 450px;
        width: 80%;
        border-radius: 30px;
    }

    .fform{
        width: 55%;
        margin-top: 40px;
        margin-left: 20px;
    }

    .log{
        height: 640px;
        gap: 50px;
    }
}

@media (min-width:1000px) {
    .login img{
        height: 525px;
        width: 80%;    }

    .email input{
        width: 70%;
        height: 50px;
    font-size: 20px;
    }

    .log{
        height: 640px;
        gap: 50p;
    }

    .spa p{
       font-size: 20px;
    }

    .email label{
    font-size: 20px;
    }
    
    .email p{
        margin-bottom: 5px;
    font-size: 20px;
    }
     
    .email button{
        width: 70%;
        height: 50px; 
        font-size: 20px;
    }
}
