const [title, setTitle] = useState({
    FullName: '',
    Email: '',
    Password: '',
  })

  const [error, setError] = useState('')

  
function handleInput(event) {
  setValues({ ...values, [event.target.name]: event.target.value })
}

const handleValidation = (event) =>{
  event.preventDefualt()
  let Validationerror ={}

  if(title.FullName === ''){
    Validationerror.FullName = 'Name can not be empty'
  } else if (title.FullName.length > 5) {
    Validationerror.FullName = 'The name must be great than 5 ' 
  }

  if (title.Email === ''){
    Validationerror.Email = 'Email require'
  } else if (!title.Email.includes ('@')) {
    Validationerror.Email = 'invalid Email'
  }

  if (title.Password === ''){
    Validationerror.Password = 'Password require'
  } else if (title.Password.length > 8) {
    Validationerror.Password ='The min password lenght is 8'
  }

  setError({ ...Validationerror })

  setTimeout(() => {
    setError({ validationerror: {} })
}, 5000)

setValues({
  FullName: '',
    Email: '',
    Password: '',
})
}